body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    border: 2px solid black;
    width: 400px;
    height: 395px;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.gamecell {
    border: 2px solid black;
}

p {
    text-align: center;
    font-size: 120px;
    margin: -15px;
}